.header{
	width: 400px; height: 50px;
	margin: 5px;
	font-size: small;
	margin-left: auto;
	margin-right: 5px;
}
#list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#item{
	display: inline;
	margin-left: 10px;
}
#apps_img{
	width: 15px; height:15px;
	margin-left:10px;
	margin-right:10px; 
}
#rnd_img{
	width: 30px; height:30px;
	margin-left:10px;
	margin-right:0px;
	border-radius: 100%;
}
.content{
	margin-top: 100px;
	margin-bottom: auto;
}
.footer{
	font-size: 14px;
	height: 50px;
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0; right: 0; left: 0;
}
.left_foot{
	float: left;
	margin-left: 10px;
	margin-right: auto;
	margin-top: 18px;
}
.right_foot{
	float: right;
	margin-right: 10px;
	margin-left: auto;
	margin-top: 18px;
}
